version: "3.5"
services:
  teku-prater:
    build:
      context: ./build
      args:
        UPSTREAM_VERSION: 21.11.1
    user: root
    image: "teku-prater.teku-prater.dnp.dappnode.eth:0.1.0"
    volumes:
      - "teku-prater-data:/opt/teku/data"
    environment:
      HTTP_WEB3PROVIDER: "http://goerli-geth.dappnode:8545"
      HTTP_WEB3SIGNER: "http://web3signer.web3signer.dappnode:9003"
      VALIDATOR_PUBLIC_KEYS: ""
      INITIAL_STATE: ""
      EXTRA_OPTS: ""
    ports:
      - "9000:9000"
      - "5051:5051"
    restart: unless-stopped
volumes:
  teku-prater-data: {}
